*{
   font-family: "Khula", sans-serif;
    color: whitesmoke;
    font-weight: 400;
}

.full{
    
    
    text-align: center;
    
}

html{
    height: 100%;
    background:url("https://static.pexels.com/photos/110252/pexels-photo-110252.jpeg") no-repeat  bottom;
    background-size:cover;
}


a{
    text-decoration:none;
    padding: 30px;
}

a:hover{
    color:rgb(62, 142, 222);
}

#header{
    color: rgb(62, 142, 222);
    font-size: 550%;
    margin-bottom: 40px;
}

.links{
    font-size: 250%;
    word-spacing: 1.5em;
    line-height: 5em;
}

img{
    margin-top: -75px;
    height: 250px;
}

