*{
    /*border: 1px dotted rgba(0, 0, 0, 0.5);*/
    font-family: "Khula",sans-serif;
    color:saddlebrown;
}

html{
    height: 132%;
}


#backImage{
    z-index: -1;
    opacity: .3;
    position: fixed;
     width:100%;
    height: 100%;
    
    margin-left: -10px;
   
}

#logo{
    position: absolute;
    height: 150px;
    width: 250px;
    top: 25px;
    float: right;
}

h1{
    
    font-weight: 100;

    color: saddlebrown;
    height: 100px;
    padding:20px;
    font-size: 75px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom:40px;
    width:100%;
    margin-left: -10px;
    min-width: 600px;
    
    
}

ul{
    width: 500px;
    padding-left: 10px;
    height:60px;
    margin-top:12px;
    
}

li{
    display: inline;    
}

a{
    text-decoration:none;
    padding: 0px 20px;
}


li:hover{
    background-color: grey;
}

.main{
    margin-left: 50px;
    
}

#excelLink{
    margin-left: -10px;
    padding-top: -200px;
    border: 1px solid saddlebrown;
    border-radius: 10px;
    background: white;
}

#excelLink:hover{
    background-color: ghostwhite;
};


#buyForm{
    line-height: 40px;
}

.links{
    background: white;
    margin-top: -20px;
    z-index: 100;
    position: fixed;
    width: 110%;
    margin-left: -10px;
    height: 42px;
    top:10px;
    padding-left: -20px;
}

input{
    margin: 7px 0px 30px 0px;
    width: 200px;
    
}

form{
    margin-top: -30px;
    margin-bottom: 20px;
    
    
}

button {
  display: inline-block;
  border-color: ghostwhite;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 25px;
  border: 2px solid rgba(164, 99, 49,0.75);
  background-color: rgba(255,255,255,0);
  
}

span{
    font-size: 12px;
}

#venmo{
    margin-bottom: 20px;
}


button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
 padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
