*{
    /*border: 1px dotted rgba(0, 0, 0, 0.5);*/
    font-family: "Khula",sans-serif;
    color:saddlebrown;
}

html{
    height: 132%;
}





#backImage{
    z-index: -1;
    opacity: .5;
    position: fixed;
     width:100%;
    height: 100%;
    
    margin-left: -10px;
   
}

#logo{
    position: absolute;
    height: 150px;
    width: 250px;
    top: 25px;
    float: right;
}

h1{
    
    font-weight: 100;

    color: saddlebrown;
    height: 100px;
    padding:20px;
    font-size: 75px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom:40px;
    width:100%;
    margin-left: -10px;
    min-width: 600px;
    
    
}

ul{
    width: 500px;
    padding-left: 10px;
    height:60px;
    margin-top:9px;
    
    
}

li{
    display: inline; 
    padding: 0 20px;
}

a{
    text-decoration:none;
    
}


li:hover{
    background-color: grey;
}

.main{
    margin-left: 50px;
    
}

#excelLink{
    padding: 0px;
    position: relative;
    text-decoration: none;
}

#excelLink:before{
    content: "";
  position: absolute;
  width: 100%;
  height: 1px;
    top: 20px;
  bottom: 0;
  left: 0;
  background-color: saddlebrown;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#excelLink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




#buyForm{
    line-height: 40px;
}

.links{
    background: white;
    margin-top: -20px;
    z-index: 100;
    position: fixed;
    width: 110%;
    margin-left: -10px;
    height: 35px;
    top:10px;
    padding-left: -20px;
}

input{
    margin: 0px 0px 0px 0px;
    width: 200px;
    
}

form{
    margin-top: -30px;
    margin-bottom: 20px;
    
    
}


button {
  display: inline-block;
  border-color: ghostwhite;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
  border: 2px solid rgba(164, 99, 49,0.75);
  background-color: rgba(255,255,255,0);
  
}

span{
    font-size: 12px;
}

#venmo{
    margin-bottom: px;
}



button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
 padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.ghost-input {
  display: block;
  font-weight:300;
  width: 300px;
  font-size: 12px;
  border:0px;
  outline: none;
  width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #956A49;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 10px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
    background: transparent;
}
.ghost-input:focus {
  border-bottom:1px solid saddlebrown;
    width: 300px;;
}
.ghost-input {
  background-color: transparent;
  
  padding:10px 30px; 
  min-width: 200px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #515151;
}



#sk-folding-cube {
    visibility: hidden;
  margin: 50px 32px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
#sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: silver;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
#sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
#sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
#sk-folding-cube .sk-cube4 {
 -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
#sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
#sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

#loading{
    visibility: hidden;
    font-size: 10px;
    padding-left: 32px;
    margin-top: -20px;
    margin-bottom: -10px;
    
}

.confirmation{
    margin-left: 370px;
    
    
}

#confirmInfo{
    margin-top: -290px;
}

#confirmButton{
    position: absolute;
    visibility: hidden;
    top: 450px;
   
}

#cancelButton{
    position:absolute;
    top: 450px;
    left: 550px;
    visibility: hidden;
    
}

.load{
    position: absolute;
    top: 250px;
    z-index: 1000;
}



